:root
{
  --charcoal: #1e1e1e;
  --text: #ddd;
}

body
{
  background-color: var(--charcoal);
  color: var(--text);
  font-family: 'Bloomberg Prop Unicode C', 'Ubuntu Condensed';
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

button, select
{
  font-family: inherit;
  font-size: inherit;
}

.split
{
  position: relative;
  padding: 8px;
}

.right
{
  position: absolute;
  right: 5px;
}

#start
{
  width: 101%;
  height: 80px;
  margin: 4px 0 0 0;
}

#scoreboard, #control
{
  border: 0px solid #ddd;
  display: flex;
  padding: 0;
  margin: 0;
}

#timer, #home, #away, #a, #b, #c
{
  border: 2px solid #ddd;
  width: 100%;
  padding: 8px 12px;
  margin: 4px;
}

#timer
{
  text-align: center;
  font-size: 6.0rem;
  color: greenyellow;
}

#hometeam, #awayteam
{
  outline: 0px dotted yellow;
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.teamwhite
{
  color: white;
}

.teamblack
{
  color: black;
}

.teamyellow
{
  color: yellow;
}