:root
{
  --charcoal: #323234;
  --text: #ddd;
  --narrow: 'Bebas Neue';
  --wide: 'Staatliches';
  --mono: 'Crystal';
  --gold: gold;
}

@font-face {
  font-family: Crystal;
  src: url(/fonts/LiquidCrystal-Normal.otf);
}

@font-face {
  font-family: Bloomberg;
  src: url(/fonts/Bloomberg-PropU_0.ttf);
}

body
{
  font-family: var(--wide);
  background-color: var(--charcoal);
  color: var(--text);
}

select
{
  margin: 0 10px;
}

select, select option
{
  font-family: 'Bloomberg';
  background: var(--charcoal);
  color: var(--gold);
  padding: 0 8px;
}

select, label
{
  font-size: 8.5vh;
}

#content
{
  display: table;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

#middle
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#timer
{
  color: greenyellow;
  font-family: var(--mono);
  font-size: 55vh;
  margin-left: 18px;
}

#playing
{
  font-size: 15vh;
  display: -webkit-inline-box;
}

#home, #away
{
  border-radius: 8px;
  width: 50vh;
}

#vs
{
  margin: 0 35px;
  color: #1e1e1e;
}

#controls
{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

#teamyellow, #teamwhite, #teamblack
{
}

.teamwhite
{
  background-color: white;
  border-color: white;
  color: black;
}

.teamblack
{
  background-color: black;
  border-color: black;
  color: white;
}

.teamyellow
{
  background-color: gold;
  border-color: gold;
  color: black;
}