:root
{
  --charcoal: #323234;
  --text: #ddd;
}

body
{
  background-color: var(--charcoal);
  color: var(--text);
  font-family: 'Bebas Neue', 'xPassion One', 'Staatliches', 'Bloomberg Prop Unicode C', 'Ubuntu Condensed';
  font-size: 1.5em;
  margin: 10px auto;
  padding: 0;
  max-width: 1100px;
}

button, select
{
  font-family: inherit;
  font-size: inherit;
}

#b
{
  display: relative;
}

.game-controls
{
  position: relative;
  padding: 8px;
}

.bottom
{
  margin-top: 4%;
}

.right
{
  position: absolute;
  right: 5px;
}

#start
{
  border: 1px solid #22b14c;
  background-color: #22b14c;
}

#demo
{
  border: 1px solid hotpink;
  background-color: hotpink;
}

#start, #demo
{
  width: 101%;
  height: 60px;
  margin: 4px 0 0 0;
}

.teambtn
{
  height: 60px;
  width: calc(97%/3);
}

.soundboardbtn
{
  display: flexbox;
  width: calc((98%/2));
  height: 60px;
}

#stopsound
{
  width: 99%;
  border: 1px solid #d01a1e;
  background-color: #d01a1e;
  margin-top: 2px;
}

#scoreboard, #control
{
  border: 0px solid #ddd;
  display: flex;
  padding: 0;
  margin: 0;
}

#timer, #home, #away, #teampicker, #b, #soundboard
{
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;
  margin: 4px;
}

#timer
{
  text-align: center;
  font-size: 7.5rem;
  color: greenyellow;
  font-family: 'Staatliches';
}

#hometeam, #awayteam
{
  outline: 0px dotted yellow;
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 16px 0 0 0;
  font-family: 'Staatliches';
  border-radius: 8px;
}

.teamwhite, .teamblack, .teamyellow
{
  border: 1px solid;
}

.teamwhite
{
  background-color: white;
  border-color: white;
  color: black;
}

.teamblack
{
  background-color: black;
  border-color: black;
  color: white;
}

.teamyellow
{
  background-color: orange;
  border-color: orange;
  color: black;
}